<div id="body">
    <div>
          <div class="about">
            <div class="content">
              <ul>
                <li>
                  <h3>My name is Steph</h3>
                  <div>
                    <p>
                      Born in Florida, Live in Connecticut.<br>
                      For now, I'm a Technical Support representative at <a href="eatpointsystems.com">East Point Systems</a><br>
                                            I built a virtual reality glove device. That uses the Leap Motion to read where your hands are and then send data via bluetooth to a microcontroller(MSP430) that controls some motors and create a vibrating sensation whenever you touch an object in the Unreal Engine Game.<br>
                                            It worked. It was my CapStone project for CCSU, I graduated May 2016.
                                        </p>
                  </div>
                </li>
                <li>
                  <h3>Follow Me on social media</h3>
                  <div>
                    Because you can. Seriously the link are right below this, it's like 2 clicks.
                    <p>i also have no idea why this box is so big.... CSS is wierd
                    </div>

                </li>
              </ul>
            </div>
            <div class="aside">
              <ul>
                <li>
                  <h3>Why This Page Exists</h3>
                  <div>
                    <p>If you can create a place on the web to share things with those around you, or even create a spot that people can use to look through your work then why not?<p>So i made a web page.</p></p> 
                  </div>
                </li>
                <li>
                  <h3>Resume</h3>
                  <div>
                    <p>Below is a copy of my resume, feel free to look at some of the stuff i've done. </p>
                      <a href="/Documents/StephResume.docx">Resume</a>

                    <p>Also, Feel free to check out my Github <a href="https://github.com/steph089">Here</a></p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
    </div>
</div>
