<div id="body">
    <div>
          <div class="blog">
            <div class="content">
            	<ul>
            		<li>
						<div class="header">
								<b>{{blog.Title}}</b><span><a ui-sref="blog({Id: blog.ID})">{{blog.Poster}}</a><a ui-sref="blog({Id: blog.ID})">{{blog.Date}}</a></span>
							</div>
							<div class="article">
								<a ui-sref="blog({Id: blog.ID})" class="figure"><img src="images/pages/{{blog.Picture}}" alt=""></a>
								<p>
								{{blogText}}
								</p>
						</div> 
					</li>
				</ul>
			</div>
			<div class="sidebar">
					<div>
					<span><a ui-sref="blog({recent: 0})"  class="ng-class: popularm;" >popular post</a></span> 
					<span><a a ui-sref="blog({recent: 1})" class="ng-class: recentm;">recent post</a></span>
					</div>				
					<ul>
						<li ng-repeat = "recent in recent">
							<a ui-sref="blog({Id: recent.ID})">{{recent.Title}}</a>
							<span><a ui-sref="blog({Id: recent.ID})">{{recent.Poster}}</a><a ui-sref="blog({Id: recent.ID})">{{recent.Date}}</a></span>
						</li>
					</ul>
			</div>
		</div>
	</div>
</div>