
  <div class="col-md-12">
               <div class="loading-bar-here"></div>
               <div class="row">
                  <div class="col-md-12">
                    <ui-breadcrumbs displayname-property="title" template-url="partials/breadcrumbs.html" abstract-proxy-property="breadcrumbProxy">
                    </ui-breadcrumbs>
                  </div>
                </div>
                <div class="row">
                  <div class="ui-view-container">
                    <div growl></div>
                    <div class="home-view" ui-view autoscroll="false"></div>

                            <div id="body">
                              <div>
                                <div>
                                  <div class="featured">
                                    <img src="images/featured-game.png" alt="">
                                  </div>
                                  <div class="section">
                                    <div>
                                      <h3>New Websites are cool</h3>
                                      <div>
                                        <p>
                                        This is just a place holder, so you can see what the site would look like. I'll begin creating posts and the like when i automate,or at least make a system for new posts and flash games and some awesome pictures <a ui-sref="blogs({recent: 1})" class="more">read more</a></p>
                                      </div>
                                    </div>
                                    <div>
                                      <h3>ChatRoom</h3>
                                      <div>
                                        <a ui-sref="chatroom"  class="figure"><img src="images/online-chatting.png" alt=""></a>
                                        <span><a ui-sref="chatroom">Join the hilarity!</a></span>
                                      </div> 
                                    </div>
                                    <div>
                                      <h3>media</h3>
                                      <div>
                                        <a ui-sref="media" class="figure"><img src="images/media.jpg" alt=""></a>
                                        <span><a ui-sref="media">Pictures Mostly</a></span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                  </div>
                </div>
</div> 


