<div id="body">
	<div>
		<div>
			<div class="blog">
				<div class="content">
					<ul>
						<li>
						<div class="header">
								<b>{{video.Title}}</b><span><a ui-sref="video({Id: video.ID})">{{video.Poster}}</a><a ui-sref="video({Id: video.ID})">{{video.Date}}</a></span>
							</div>
							<div class="article">
								<youtube videoid="{{video.youtube_id}}" width="100%" height="360"></youtube>
								<p>
								{{video[0].Text}}
								</p>
							</div> 
						</li>
						If You are experiancing issues with seeing the videos, try refreshing the web page. Youtube doesn't like when i call for videos so quickly.	
					</ul>

				</div>
				<div class="sidebar">
					<div>
					<span><a ui-sref="video({recent: 0})"  class="ng-class: popularm;" >popular post</a></span> 
					<span><a a ui-sref="video({recent: 1})" class="ng-class: recentm;">recent post</a></span>
					</div>				
					<ul>
						<li ng-repeat = "recent in recent">
							<a ui-sref="video({Id: recent.ID})">{{recent.Title}}</a>
							<span><a ui-sref="video({Id: recent.ID})">{{recent.Poster}}</a><a ui-sref="video({Id: recent.ID})">{{recent.Date}}</a></span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>